main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.text {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.number {
  margin: 30px 0;
  font-size: 40px;
}
.btn-box button {
  border: none;
  background-color: beige;
  padding: 10px 30px;
  margin: 0 20px;
  border-radius: 10px;
  cursor: pointer;
}